#a{
    color:blue;
    background-color:navy;
}
#b{
    color:lightsteelblue;
    background-color:cyan;
}
#c{
    color:orange;
    background-color:tomato;
}
#d{
    color:green;
    background-color:greenyellow;
}
#e{
    color:red;
    background-color:crimson;
}
#f{
    color:forestgreen;
    background-color:darkgreen;
}